<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github-bejebeje" value="https://nuget.pkg.github.com/JwanKhalaf/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <github-bejebeje>
      <add key="Username" value="JwanKhalaf" />
      <add key="ClearTextPassword" value="%GH_PACKAGES_TOKEN%" />
    </github-bejebeje>
  </packageSourceCredentials>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="github-bejebeje">
      <package pattern="Bejebeje.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
