@model Bejebeje.Models.Artist.CreateArtistViewModel

@{
  ViewData["Title"] = "Add a new artist";
  ViewData["Description"] = "Contribute to Kurdish Music and the archiving project by submitting a new artist and their lyrics.";
}

<div class="pr-4 lg:pr-8 my-8">
  <p class="text-base text-neutral-200">The ability to add new artists is currently being re-worked and improved. We hope to have this feature back up very soon. Apologies for any inconvenience caused.</p>
</div>
