@model Bejebeje.Mvc.ViewModels.Artists.CreateIndividualArtist.CreateIndividualArtistViewModel

@{
  ViewData["Title"] = "Add a new artist";
  ViewData["Description"] = "Contribute to Kurdish Music and the archiving project by submitting a new artist and their lyrics.";
}

<div class="py-5 pr-4 mb-6">
  <nav class="text-neutral-200 opacity-70 uppercase text-base">
    <a asp-controller="Artist" asp-action="Index">/ Artists</a> / New / Individual
  </nav>
</div>

<div class="w-120">
  <form asp-controller="Artist" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="space-y-12">
      <div class="border-b border-white/10 pb-12">
        <h2 class="text-base/7 font-semibold text-white">Artist profile</h2>
        <p class="mt-1 text-sm/6 text-gray-400">This information will be displayed publicly so be sure to make it
          good</p>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">

          <div class="sm:col-span-3">
            <label asp-for="FirstName" class="block text-sm/6 font-medium text-white">First name</label>
            <div class="mt-2">
              <input asp-for="FirstName"
                     class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
            </div>
          </div>

          <div class="sm:col-span-3">
            <label asp-for="LastName" class="block text-sm/6 font-medium text-white">Last name</label>
            <div class="mt-2">
              <input asp-for="LastName"
                     class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
            </div>
          </div>

          <div class="col-span-full">
            <label asp-for="Biography" class="block text-sm/6 font-medium text-white">About</label>
            <div class="mt-2">
              <textarea asp-for="Biography" rows="3"
                        class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"></textarea>
            </div>
            <p class="mt-3 text-sm/6 text-gray-400">Write a few sentences about the artist to introduce them to the
              world.</p>
          </div>

          <div class="col-span-full">
            <label asp-for="Photo" class="block text-sm/6 font-medium text-white">Photo</label>
            <input asp-for="Photo" type="file" class="hidden"/>
            <div class="mt-2 flex items-center gap-x-3">
              <svg class="size-12 text-gray-500" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true"
                   data-slot="icon">
                <path fill-rule="evenodd"
                      d="M18.685 19.097A9.723 9.723 0 0 0 21.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 0 0 3.065 7.097A9.716 9.716 0 0 0 12 21.75a9.716 9.716 0 0 0 6.685-2.653Zm-12.54-1.285A7.486 7.486 0 0 1 12 15a7.486 7.486 0 0 1 5.855 2.812A8.224 8.224 0 0 1 12 20.25a8.224 8.224 0 0 1-5.855-2.438ZM15.75 9a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
                      clip-rule="evenodd"/>
              </svg>

              <button type="button"
                      class="cursor-pointer rounded-md bg-white/10 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-white/20">
                Change
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-6 flex items-center justify-end gap-x-6">
      <a asp-controller="Home" asp-action="Index" type="button" class="cursor-pointer text-sm/6 font-semibold text-white">Cancel</a>
      <button type="submit"
              class="cursor-pointer rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">
        Save
      </button>
    </div>
  </form>
</div>