@model Bejebeje.Models.Artist.CreateArtistViewModel

@{
  ViewData["Title"] = "Add a new artist";
  ViewData["Description"] = "Contribute to Kurdish Music and the archiving project by submitting a new artist and their lyrics.";
}

<header>
  <h1>Add a new artist</h1>
</header>