.form__new-artist,
.form__new-lyric {
  padding: 0 $spacing-s 0 0;

  form {
    position: relative;
  }
}

.label {
  display: block;
  color: rgba($clr-white, 0.5);
  margin: 0 0 0.6rem 0;
  font-size: 1rem;
  font-family: $serif;
}

.form-control {
  margin: 0 0 $spacing-s 0;
  width: 100%;
}

input[type=text] {
  padding: 0.8rem;
  border-radius: $border-radius;
  background-color: #1d1d24;
  color: rgba($clr-white, 0.5);
}

input[type=submit] {
  background-color: $clr-brand;
  color: $clr-white;
  padding: 0.8rem;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: $border-radius;
  letter-spacing: 3px;
}

textarea {
  padding: 0.8rem;
  border-radius: $border-radius;
  background-color: #1d1d24;
  color: rgba($clr-white, 0.5);
  resize: vertical;
}
