.form__new-artist,
.form__new-lyric {
  padding: $spacing-m 0 0 0;

  form {
    position: relative;
  }
}

.form-group {
  margin: 0 0 $spacing-m 0;
}

.label {
  display: block;
  color: rgba($clr-white, 0.5);
  margin: 0 0 0.6rem 0;
  font-size: 1rem;
  font-family: $sans-serif;
}

.form-control {
  width: 100%;
}

.btn {
  color: $clr-white;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: $border-radius;
  margin: 0 $spacing-xs 0 0;
  cursor: pointer;
}

.btn-primary {
  background-color: $clr-brand;
  color: hsla(0, 0%, 100%, 0.75);
}

.btn-secondary {
  border: 1px solid hsla(0, 0%, 100%, 0.5);
  color: hsla(0, 0%, 100%, 0.5);
}
