html, body {
  height: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: auto 80px;
  grid-template-areas: "main main" "nav nav";
  background-color: $clr-background;
  position: relative;
}

main {
  grid-area: main;
  background-color: $clr-dark;
  overflow-y: scroll;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 0 0 0 $spacing-s;
  box-shadow: 0 6px #15151a;
}

.secondary_content {
  margin: 0 $spacing-s $spacing-s 0;

  &__social {
    background-color: $clr-dark-x2;
    display: flex;
    justify-content: space-between;
    padding: $spacing-s;
    border-radius: 5px;
    margin: 0 0 $spacing-d 0;
  }

  &__link {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      width: 24px;
      height: 24px;
      background-color: #4c4e60;
      -webkit-mask-repeat: no-repeat;
    }
  }

  &__site-meta {
    p {
      font-family: $sans-serif;
      text-transform: uppercase;
      color: #72758f;
      font-size: 0.75rem;
      text-align: center;
      letter-spacing: 2px;
      opacity: 0.8;
    }
  }
}

.facebook-icon::before {
  -webkit-mask-image: url('../images/icons/facebook.svg');
  mask-image: url('../images/icons/facebook.svg');
}

.twitter-icon::before {
  -webkit-mask-image: url('../images/icons/twitter.svg');
  mask-image: url('../images/icons/twitter.svg');
}

.instagram-icon::before {
  -webkit-mask-image: url('../images/icons/instagram.svg');
  mask-image: url('../images/icons/instagram.svg');
}

.tiktok-icon::before {
  -webkit-mask-image: url('../images/icons/tiktok.svg');
  mask-image: url('../images/icons/tiktok.svg');
}

.youtube-icon::before {
  -webkit-mask-image: url('../images/icons/youtube.svg');
  mask-image: url('../images/icons/youtube.svg');
}

nav.nav {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.5rem;
}

@media (min-width: 1024px) {
  body {
    grid-template-areas: "nav main" "nav main";
    grid-template-columns: 120px auto;
  }

  main {
    display: grid;
    grid-template-rows: auto 120px;
    background-color: transparent;
    overflow-y: scroll;
    padding: 0;
    box-shadow: none;
  }

  .main_content {
    border-bottom-left-radius: 15px;
    background-color: $clr-dark;
    padding: 0 0 0 2.5rem;
    box-shadow: 0 6px #15151a;
  }

  .secondary_content {
    display: flex;
    padding: 0 2.5rem;
    align-items: center;
    justify-content: space-between;
    margin: 0;

    &__social {
      display: flex;
      margin: 0;
      background-color: transparent;
      padding: $spacing-s 0;
    }

    &__link {
      position: relative;
      display: block;
      width: 24px;
      height: 24px;
      margin: 0 $spacing-s 0 0;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center;
        background-color: $clr-dark;
      }
    }

    &__site-meta {
      p {
        font-family: $sans-serif;
        text-transform: uppercase;
        color: $clr-dark;
        font-family: 1rem;
      }
    }
  }

  .nav.nav {
    flex-direction: column;
    justify-content: start;
    padding: $spacing-s 2.5rem 0 2.5rem;
    position: absolute;
    left: 0;
    top: 0;
  }
}
