.nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  border-top: 1px solid rgba($white, .25);
  background-color: $color-dark;

  .link {
    color: rgba($white, 0.5);
    font-family: $font-sans-serif;
    font-size: 0.65rem;
    text-align: center;
    display: block;
    width: 35px;
    height: 35px;
    position: relative;

    &::before {
      content: '';
      width: 35px;
      height: 35px;
      position: absolute;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      fill: rgba($white, 0.5);
      opacity: 0.5;
    }
  }

  .home-icon::before {
    background-image: url('../images/icons/home.svg');
    width: 40px;
    height: 36px;
  }

  .library-icon::before {
    background-image: url('../images/icons/album-collection.svg');
  }

  .search-icon::before {
    background-image: url('../images/icons/search.svg');
  }
}
