.nav {

  .logo {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  .link {
    color: rgba($clr-white, 0.5);
    font-family: $sans-serif;
    font-size: 0.65rem;
    text-align: center;
    display: block;
    width: 24px;
    height: 24px;
    position: relative;

    &::before {
      content: '';
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  .home-icon::before {
    background-image: url('../images/icons/home.svg');
  }

  .artists-icon::before {
    background-image: url('../images/icons/artists.svg');
  }

  .profile-icon::before {
    background-image: url('../images/icons/user.svg');
  }
}


@media (min-width: 1024px) {

  .nav {
    .link {
      width: 34px;
      height: 34px;

      &::before {
        width: 34px;
        height: 34px;
      }
    }
  }

  .logo {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: $padding-standard;
  }

  .link {
    margin-bottom: 2.5rem;
  }
}
