.letter-section {
  padding: 0 $padding-standard;

  .letter {
    position: sticky;
    top: 0;
    padding: 1.25em 0;
    background-color: $color-dark;
  }

  ul {
    li {
      margin-bottom: 0.8em;

      a {
        .artist {
          display: flex;
          align-items: center;

          img {
            margin-right: 1.25em;
            border-radius: 5px;
          }

          .artist-info {
            h3 {
              font-family: $font-sans-serif;
              font-size: 1.1rem;
              font-weight: 700;
              color: rgba($color-text, 0.7);
              text-align: left;
              margin-bottom: 0.5em;
            }

            h4 {
              font-family: $font-serif;
              font-size: 0.8rem;
              font-weight: 700;
              color: rgba($color-text, 0.5);
              margin-bottom: 0.5em;
              letter-spacing: 2px;
            }
          }
        }
      }
    }
  }
}
