.artist-info-wrap {
  background-color: #1D1D24;
  margin: 0 $spacing-s $spacing-s 0;
  padding: $spacing-s;
  border-radius: 5px;

  .artist-info {
    margin: 0;
    display: flex;
    align-items: center;

    &__image {
      border: 1px solid #65687F;
      border-radius: 50%;
      margin-right: $spacing-s;
      display: block;
    }

    &__name {
      font-family: $sans-serif;
      font-size: 1.125rem;
      text-transform: uppercase;
      color: #E0E0E6;
      font-weight: 400;
      line-height: 1.8rem;
      margin-bottom: 0.25rem;
    }

    &__lyric-count {
      font-family: $sans-serif;
      font-size: 1rem;
      color: #a1a3b4;
      font-weight: 400;
    }
  }
}

ul.artist-lyrics {
  padding: 0 $spacing-s 0 0;
  margin: 0 0 $spacing-d 0;
}

.artist-lyric {
  background-color: $clr-dark-x2;
  margin: 0 0 $spacing-s 0;
  border-radius: $border-radius;
}

.artist-lyric__link {
  display: block;
  padding: $spacing-s;
}

.artist-lyric__title {
  font-size: 1.25rem;
  color: rgba($clr-white, .7);
  font-family: $serif;
}
