.featured_list {
  padding: 0;
  margin: 0 0 2.5rem 0;

  &__title {
    font-family: $sans-serif;
    font-size: 1.125rem;
    color: $clr-brand;
    margin-bottom: 0.8em;
    line-height: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1rem;
  }

  &__content {
    display: flex;
    overflow-y: hidden;
  }

  &__content-item {
    margin-right: 1em;
  }
}

.recent {
  display: flex;
  flex-direction: column;

  &__lyric-link {
    display: flex;
    flex-direction: column;
  }

  &__artist-link {
  }

  &__artist-image {
    border-radius: 5px;
    margin-bottom: 0.5em;
  }

  &__lyric-title {
    font-family: $serif;
    font-size: 0.8rem;
    color: rgba($clr-white, .50);
    margin-bottom: 0.5em;
    line-height: 1.2rem;
  }

  &__artist-name {
    font-family: $sans-serif;
    font-size: 0.75rem;
    color: rgba($clr-white, .25);
    text-align: left;
    font-weight: normal;
  }
}
