.section {
  padding: 0 0 0 $padding-standard;

  &__title {
    font-family: $font-sans-serif;
    font-size: 2rem;
    color: $color-brand;
    margin-bottom: 0.8em;
    line-height: 2.5rem;
  }

  &__content {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  &__content-item {
    margin-right: 1em;
  }
}

.recent {
  display: flex;
  flex-direction: column;

  &__lyric-link {
    display: flex;
    flex-direction: column;
  }

  &__artist-link {
  }

  &__artist-image {
    border-radius: 5px;
    margin-bottom: 0.5em;
  }

  &__lyric-title {
    font-family: $font-serif;
    font-size: 0.8rem;
    color: rgba($white, .50);
    margin-bottom: 0.5em;
    line-height: 1.2rem;
  }

  &__artist-name {
    font-family: $font-sans-serif;
    font-size: 0.75rem;
    color: rgba($white, .25);
    text-align: left;
    font-weight: normal;
  }
}
