.artist-info-wrap {
  display: block;
  margin-bottom: $spacing-d;

  &:hover {
    background-color: #202027;
  }
}

.lyric__wrap {
  position: relative;
}

.lyric__title-wrap {
  margin: 0 $spacing-s $spacing-d 0;
}

.lyric__title {
  font-size: 2rem;
  font-family: $serif;
  line-height: 3.75rem;
}

.lyric__body-wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 $spacing-s $spacing-s 0;
}

.lyric__body {
  white-space: pre-line;
  color: #e0e0e6;
  font-family: $serif;
  font-size: 1.1rem;
  line-height: 1.65rem;
  margin-top: -1.65rem;
}

.actions__wrap {
  position: sticky;
  top: $spacing-d;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.like__button {
  text-align: center;
}

.like__link {
  display: block;
  width: 34px;
  height: 34px;
  margin: 0 0 0.4rem 0;
  position: relative;

  &::before {
    content: '';
    width: 34px;
    height: 34px;
    position: absolute;
    left: 0;
    background-image: url('../images/icons/heart.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.verification-badge {
  display: block;
  width: 34px;
  height: 34px;
  position: relative;
  margin-bottom: 1.7rem;

  &::before {
    content: '';
    width: 34px;
    height: 34px;
    position: absolute;
    left: 0;
    background-image: url('../images/icons/badge.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.like__link-clicked {
  display: block;
  width: 34px;
  height: 34px;
  margin: 0 0 0.4rem 0;
  position: relative;

  &::before {
    content: '';
    width: 34px;
    height: 34px;
    position: absolute;
    left: 0;
    background-image: url('../images/icons/heart_liked.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.like__count {
  color: $clr-white;
}

@media (min-width: 1024px) {

  .lyric__title-wrap {
    margin-bottom: $spacing-d;
  }

  .lyric__title {
    font-size: 3rem;
  }
}
