.coming-soon-wrapper {
  margin: 0 $spacing-s $spacing-s 0;
  padding: $spacing-s;
  text-align: center;

  p {
    font-family: $sans-serif;
    color: rgba($clr-white, .7);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
  }
}
