
.search {
  padding: 0 $padding-standard;
  margin-bottom: 1.5rem;

  &__form {
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      right: 15px;
      top: 50%;
      width: 22px;
      height: 22px;
      background-image: url('../images/icons/search.svg');
      background-repeat: no-repeat;
      background-size: 22px 22px;
      background-position: 95%;
      opacity: 0.5;
      transform: translateY(-50%);
    }
  }

  &__input {
    border-radius: 5px;
    background-color: darken($color-dark, 10%);
    color: rgba($white, 0.5);
    padding: 0.8rem;
    font-size: 1rem;
    position: relative;
  }
}

.results {
  padding: 0 $padding-standard 5rem $padding-standard;

  &__wrap {
    margin-bottom: 2rem;
  }

  &__heading {
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
    }
  }

  &__artist-item {
    display: flex;
    margin-bottom: 0.7rem;
    align-items: center;
  }

  &__artist-image {
    border-radius: 5px;
    margin-right: 1rem;
  }

  &__artist-link {
    font-family: $font-sans-serif;
    color: rgba($white, 0.75);
    font-size: 1.3rem;
    line-height: 1.95rem;
  }

  &__lyric-item {
    background-color: darken($color-dark, 20%);
    margin-bottom: 1rem;
    padding: $padding-standard;
    border-radius: 5px;
  }

  &__lyric-link {
    color: rgba($white, 0.75);
    font-size: 1.1rem;
    line-height: 1.65rem;
    display: flex;
    flex-direction: column;
    font-family: $font-sans-serif;

    strong {
      font-family: $font-serif;
    }
  }
}
