
.search {
  padding: 1.5rem $spacing-s 0 0;
  margin-bottom: $spacing-s;

  &__form {
    display: flex;
    flex-direction: column;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      right: 15px;
      top: 50%;
      width: 22px;
      height: 22px;
      background-image: url('../images/icons/search.svg');
      background-repeat: no-repeat;
      background-size: 22px 22px;
      background-position: 95%;
      opacity: 0.5;
      transform: translateY(-50%);
    }
  }

  &__input {
    border-radius: $border-radius;
    background-color: #1d1d24;
    color: rgba($clr-white, 0.5);
    padding: 0.8rem;
    font-size: 1rem;
    position: relative;
  }
}

.results {
  padding: 0 $spacing-s 2rem 0;

  &__wrap {
    margin-bottom: 2rem;
  }

  &__heading {
    position: sticky;
    top: 0;
    padding: 1.5rem 0;
    background-color: $clr-dark;
    font-family: $sans-serif;
    font-size: 1.125rem;
    color: $clr-brand;
    line-height: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 0.1rem;

    h2 {
      font-size: 2rem;
    }
  }

  &__artist-item {
    display: flex;
    margin-bottom: $spacing-s;
    align-items: center;
  }

  &__artist-image {
    border-radius: 5px;
    margin-right: 1rem;
    display: block;
  }

  &__artist-link {
    font-family: $sans-serif;
    color: rgba($clr-white, 0.75);
    font-size: 1.3rem;
    line-height: 1.95rem;
  }

  &__lyric-item {
    background-color: $clr-dark-x2;
    margin-bottom: $spacing-s;
    padding: $spacing-s;
    border-radius: 5px;
  }

  &__lyric-link {
    color: rgba($clr-white, 0.75);
    font-size: 1.1rem;
    line-height: 1.65rem;
    display: flex;
    flex-direction: column;
    font-family: $sans-serif;

    strong {
      font-family: $serif;
    }
  }
}
