// import google fonts
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@400;700&display=swap');

h1 {
  font-family: $font-sans-serif;
  font-size: 3rem;
  font-weight: 700;
  color: $color-text;
}


h2 {
  font-family: $font-sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  color: $color-text;
}
