* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  box-shadow: none;
  font-family: arial, sans-serif;
}

:root {
  --main-bg-color: #06112a;
  --card-bg-color: #191c38;
  --title-color: #ffffff;
  --sub-heading-color: #fefefe;
  --tagline-color: #a5a5b0;

  --section-title-color: pink;
}

body {
  background-color: var(--main-bg-color);
}

/* header */
header {
  padding: 1.25em;
}

h1 {
  font-family: 'Roboto', sans-serif;
  color: var(--title-color);
  font-size: 3rem;
}

.recent {
  list-style: none;
  display: flex;
  overflow: scroll;
}

.recent .card {
  margin-right: 1.25em;
  margin-bottom: 1em;
  border-radius: 5px;
}

.card__image {
  border-radius: 5px;
  margin-bottom: 0.3em;
}

.card__meta {
  
  
}

.card__title {
  color: var(--sub-heading-color);
  font-size: 0.9rem;
  margin-bottom: 0.3em;
}

.card__artist-name {
  color: var(--tagline-color);
  font-size: 0.7rem;
}

.section {
  padding: 0 1.25em;
}

.section__title {
  color: var(--section-title-color);
  font-size: 2rem;
  margin-bottom: 0.7em;
}

/* navigation */
nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--main-bg-color);
  padding: 1.25em;
  min-height: 60px;
  border-top: 1px solid #32353a;
  display: flex;
  justify-content: space-between;
}

.link {
  color: #d1d2d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.7em;
}

.link svg {
  width: 25px;
  margin-bottom: 0.3em;
}
}