@{
  ViewData["Title"] = "Your Profile";
  ViewData["Description"] = "The user profile page.";
}

<div class="breadcrumb-nav">
  <nav>
    <a asp-controller="Profile" asp-action="Index">/ Profile</a>
  </nav>
</div>

<div class="search">
  <form asp-controller="Search" asp-action="Index" method="post" class="search__form">
    <input class="search__input" placeholder="search for artist or lyric" name="searchTerm" />
  </form>
</div>

<div class="actions">
  <h2 class="actions__heading">Want to help?</h2>

  <p class="actions__prompt">First of all, thank you! Kurds now and in the future will be thankful. Please choose an action below.</p>

  <a asp-controller="Artist" asp-action="Create" class="actions__add-artist">Add a new artist</a>
</div>