@model Bejebeje.Models.Lyric.LyricDetailsViewModel

@{
  ViewData["Title"] = $"{Model.Title} lyrics by {Model.Artist.FullName}";
  ViewData["Description"] = $"Lyrics for {Model.Title} by {Model.Artist.FullName}. Gotinê strana {Model.Title} ya {Model.Artist.FullName}. {Model.Title} sözleri - {Model.Artist.FullName}";
}

<header class="header">
  <div class="header__image-wrapper">
    <img class="header__image"
         src=@( $"{Model.Artist.ImageUrl}.jpg" )
         srcset=@( $"{Model.Artist.ImageUrl}.webp" )
         alt="@Model.Artist.ImageAlternateText" />
  </div>

  <h1 class="header__title">@Model.Title Lyrics</h1>
</header>

<div class="lyric-body">
  @Model.Body
</div>
