// colors
$crimson: #EC6164;
$cyan: #61ECE9;
$moonless-night: #41414d;
$white: #ffffff;

$color-brand: $crimson;
$color-accenting: $cyan;
$color-dark: $moonless-night;

$color-text: $white;


// spacing
$padding-standard: 1.25rem;

// fonts
$font-serif: 'Lora', serif;
$font-sans-serif: 'Open Sans', sans-serif;
