// colors
$crimson: #EC6164;
$cyan: #61ECE9;
$moonless-night: #272831;

$clr-white: #ffffff;
$clr-background: #e0e0e6;
$clr-dark: $moonless-night;
$clr-dark-x2: #1f2027;
$clr-brand: $crimson;
$clr-accenting: $cyan;
$clr-text: $clr-white;

// spacing
$spacing-s: 1.25rem;
$spacing-d: 2.5rem;

// fonts
$serif: 'Lora', serif;
$sans-serif: 'Open Sans', sans-serif;

// other
$border-radius: 5px;
