<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] | Bêjebêje</title>
  <meta name="description" content="@ViewData["Description"]">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.14.0/css/all.css" integrity="sha384-VhBcF/php0Z/P5ZxlxaEx1GwqTQVIBu4G4giRWxTKOCjTxsPFETUDdVL5B6vYvOt" crossorigin="anonymous">
  <link rel="stylesheet" href="~/css/styles.css" />
</head>

<body>
  @RenderBody()

  <nav class="nav">
    <a asp-controller="Home" asp-action="Index" class="link home icon">
      Home
    </a>

    <a asp-controller="Search" asp-action="Index" class="link search icon">
      Search
    </a>

    @*<a asp-controller="Artist" asp-action="Index" class="link archive icon">
        Archive
      </a>

      <a asp-controller="Account" asp-action="Index" class="link account icon">
        Account
      </a>*@
  </nav>

  <script src="~/js/site.js" asp-append-version="true"></script>

  @RenderSection("Scripts", required: false)
</body>
</html>
