<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3XMV1NEC87"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-3XMV1NEC87');
  </script>

  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"] | Bêjebêje</title>
  <meta name="description" content="@ViewData["Description"]">
  <link rel="stylesheet" href="~/css/styles.css" media="screen"/>

  <link media="screen" rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link media="screen" rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link media="screen" rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link media="screen" rel="manifest" href="/site.webmanifest" crossorigin="use-credentials">
  <link media="screen" rel="mask-icon" href="/safari-pinned-tab.svg" color="#41414d">
  <meta name="msapplication-TileColor" content="#41414d">
  <meta name="theme-color" content="#41414d">
</head>

<body>
  <main>
    <div class="main_content">
      @RenderBody()
    </div>

    <div class="secondary_content">
      <div class="secondary_content__social">
        <a href="https://www.facebook.com/bejebejefermi" class="secondary_content__link facebook-icon"></a>

        <a href="https://twitter.com/bejebejefermi" class="secondary_content__link twitter-icon"></a>

        <a href="https://www.youtube.com/channel/UCo7WnWABL3QiA1tErvs1w2w" class="secondary_content__link youtube-icon"></a>

        <a href="https://www.instagram.com/bejebejefermi/" class="secondary_content__link instagram-icon"></a>

        <a href="https://tiktok.com/@@bejebejefermi/" class="secondary_content__link tiktok-icon"></a>
      </div>

      <div class="secondary_content__site-meta">
        <p>Bêjebêje &copy; 2015-@(DateTime.UtcNow.Year)</p>
      </div>
    </div>
  </main>

  <nav class="nav">
    <a asp-controller="Home" asp-action="Index" class="link home-icon"></a>

    <a href="#" id="contribute-button" class="link contribute-icon"></a>

    <a asp-controller="Profile" asp-action="Index" class="link profile-icon"></a>
  </nav>

  <aside class="actions-panel">
    <p>Thank you for wanting to contribute. Your contributions help make Kurdish music more accessible.</p>

    <p>How would you like to help?</p>

    <div class="actions-buttons">
      <a asp-controller="Artist" asp-action="Create" class="actions-button">Add new artist</a>
    </div>
  </aside>

  <script>
    const toggleVisiblityOfActionsPanel = (event) => {
      event.preventDefault();
      const actions_panel = document.querySelector(".actions-panel");
      const contribute_button = event.target;
      actions_panel.classList.toggle("visible");
      contribute_button.classList.toggle("visible");
    }

    const contribute_button = document.getElementById("contribute-button");

    contribute_button.addEventListener("click", toggleVisiblityOfActionsPanel);
  </script>
  @RenderSection("Scripts", required: false)
</body>
</html>
