<div class="mb-8 w-full pr-4">
  <form asp-controller="Search" asp-action="Search" method="get" class="search__form">
    <input class="w-full bg-neutral-700 p-4 placeholder:text-neutral-200 placeholder:opacity-80 text-neutral-200 rounded-sm outline-0" placeholder="Search for artist or lyric" name="searchTerm" />
  </form>
</div>

