@*
  minimal error page layout - designed to work even when the backend is partially broken.
  uses only static css and no backend-dependent components.
*@
<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>@ViewData["Title"] | Bêjebêje</title>
  <link rel="stylesheet" href="~/css/styles.css" media="screen"/>
  <link media="screen" rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link media="screen" rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
</head>

<body class="h-full bg-neutral-900">
  @RenderBody()
</body>
</html>
