.lyrics {
  padding: 0 $padding-standard;

  .lyric {
    background-color: darken($color-dark, 10%);
    padding: $padding-standard;
    margin-bottom: $padding-standard;
    border-radius: 5px;

    &__title {
      font-family: $font-sans-serif;
      font-size: 1.2rem;
      color: $white;
    }
  }
}
