.c-recent-lyric {
  display: flex;
  flex-direction: column;

  &__image {
    border-radius: 5px;
    margin-bottom: 0.5em;
  }


  &__lyric {
    font-family: $font-serif;
    font-size: 0.8rem;
    color: rgba($white, .50);
    margin-bottom: 0.5em;
  }


  &__artist {
    font-family: $font-sans-serif;
    font-size: 0.6rem;
    color: rgba($white, .25);
  }
}
