@model Bejebeje.Models.Lyric.LyricRecentSubmissionViewModel

@{
  ViewData["Title"] = "Home Page";
}

<h1>Recent</h1>

<ul class="recent">
  <li>
    <img src="https://placehold.it/100x100" alt="artist image" />
    <h2>@Model.Title</h2>
    <h3>@Model.ArtistName</h3>
  </li>
</ul>
